*{
    font-family: 'Balsamiq Sans', cursive;
}
:root{
    --primary-color: #FC6514;
    --second-color:#B2BEC3;
    --empty--color:rgba(255, 255, 255, 0);
}
.header{
    width: 1024px;
    height: 64px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.logo{
    width: 138px;
    height: 32px;
    padding-right:32px;
}
.search{
    display: flex;
    flex:1;
    background-color: white;
    align-items: center;
    height: 50px;
    border: solid 1px #B2BEC3;
    border-radius: 5px;
    padding: 0px 8px 0px 12px;
    box-sizing: border-box;
    /* position: relative; */
}
/* .search{
    display: flex;
    flex:1;
    background-color: white;
    align-items: center;
    height: 50px;
    border: none;
    outline: none;
    padding: 0px 8px 0px 12px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
} */
.header__icon{
    color: #B2BEC3;
    margin: 8px;
    
    font-size: 20px;
    padding-right: 8px;
    
}
.search__input{
    width: 100%;
    height: 90%;
    border: none;
    outline: none;
    font-size: 1rem;
    display: none;
    
}
.search__transform{
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    position: relative;
    background:transparent;
    top:-1px;
    left: -1px;
    color: var(--second-color);
    display: flex;
    align-items: center;
    /* border-radius: 2px;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
     */
    box-sizing: border-box;
    /* display: none; */
}
.search__transform__icon{
    margin: 8px;
    font-size: 20px;
}
.search__transform-item{
    /* padding:.5rem 0; */
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    top:0;
    left: 0;
    box-sizing: border-box;
}
.search-1{
    position: relative;
    /* background: red; */
    padding-top: .5rem;
    width: 100%;
    /* height: 100%; */
}
.search-1-1{
    /* position: relative; */
    width: 100%;
}
/* ::placeholder{
    color: var(--second-color);
} */
.search__transform--input{
    position: absolute;
    width: 99%;
    line-height: 16px;
    height: 1.5rem;
    padding:0;
    top:0;
    left: 0;
    border: none;
    outline: none;
    background:transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.search-1-line{
    position: absolute;
    width: 100%;
    height: 1px;
    background: red;
    bottom: -13px;
    display: none;
}
.btn-close{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.4rem;
    z-index: 2;
    -webkit-text-stroke: 2px white;
    cursor: pointer;
    display: none;
    
}
/* .search__transform--input:focus .search{
    border: none;
    outline: none;
} */
.search__placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    left:0;
    color: var(--second-color);
    transform: translateY(.75rem);
    box-sizing: border-box;
}

.click-outside{
     /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /*Sit on top*/
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed *//* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    display: none;
}
  /* .click-outside::before{
    content: "";
    position: absolute;
    z-index: 1;
    width: 560px;
    height: 50px;
    display: flex;
    top:15px;
    margin:auto;
    justify-content: center;
    background: red;
    margin-right: 125px;
  } */
.search__input-show{
    width: 558px;
    height: 265px;
    background-color:#fff;
    position: absolute;
    margin-right: 125px;
    top: 65px;
    border-radius: 5px;
    /* overflow:hidden; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.search__popular{
    background: #dfe6e9;
    padding: 12px 16px;
}
.search__popular-item{
    padding: 12px 16px;
    border-bottom: solid 1px rgb(214, 211, 211);
}
.search__popular-item--no-border{
    border: none;
    padding-bottom: 0;
}

.login{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left:32px;
}
.cart{
    padding-left:32px;
}
.login div:hover, .cart div:hover{
    color: #FC6514
}
.shopper-login{
    position: fixed;
    min-height: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 1rem;
    background: rgba(0,0,0,0.25);
    display: flex;
    box-sizing: border-box;
    display: none;
    
}
.shopper-login__item{
    position: relative;
    width: 496px;
    height: 496px;
    border-radius: .25rem;
    margin: auto;
    background-color: #fff;
}
.shopper-login__1__btn-close{
    padding-top: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.4rem;
    z-index: 2;
    -webkit-text-stroke: 2px white;
    cursor: pointer;
}
.shopper-login__form{
    width: 496px;
    height: 457px;
    padding: 24px 32px 32px;
    box-sizing: border-box !important;
}
.shopper-login__form__heading{
    padding: 0;
    margin: 0;
}
.shopper-login__form__seller{
    display: flex;
    align-items: center;
    margin: 0 0;
}
.seller-login{
    margin-right: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.seller-click{
    text-decoration: none;
    color: #1578D1;
    font-family: Arial, Helvetica, sans-serif;
}
.shopper-login__advantage{
    font-weight: 500;
    margin: 0;
}
.shopper-login-btn{
    width: 100%;
    border: none;
    border-radius: 2px;
    outline: none;
    padding:16px 24px;
    font-size: 16px;
    color: #fff;
    background: #FC6514;
    margin-top:24px;
}
.shopper-signup-btn{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding:16px 24px;
    font-size: 16px;
    color: #2D3436;
    background: #fff;
    margin-top:16px;
}
.text-divider{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* padding:26px; */
}
/* .text-divider-line{
    padding-top: 50px;
    margin: 12px 0;
    border-top: 1px solid rgba(204, 204, 204, 0.589);
    border-radius: 2px;
    font-weight: 700;
} */
.text-divider::before{
    content: "";
    border-top: 1px solid rgba(204, 204, 204, 0.589);
    width: 100%;
    display: block;
    position: absolute;
}
.text-divider__continue{
    position: relative;
    color: #637BA2;
    display: flex;
    background: #fff;
    justify-content: center;
    margin:0;
    font-size: 0.8rem;
    padding: 0 18px;
}
.shopper-login-facebook-btn{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding:16px 24px ;
    font-size: 16px;
    background: #3B5998;
}
.shopper-login-facebook-btn__icon{
    width: 24px;
    height: 24px;
    position: absolute;
    background: #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3B5998;
}
.shopper-login-facebook-btn a,
.shopper-login-btn a{

    text-decoration: none;
    color: #fff;
}
.shopper-signup-btn a{
    text-decoration: none;
    color: #2D3436;
}
.shopper-login__policy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    margin-top:8px;
}
.shopper-login__term{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    text-decoration: none;
    color: #1e88e5;
}
/* Menu */
.menu{
    width: 1024px;
    height: 40px;
    margin: auto;
    display: flex;
    border: solid rgba(178, 190, 195, 0.199);
    border-width: 1px 0px;
}
.menu-item{
    padding: 12px 16px;
    box-sizing: border-box;
    font-weight: 600;
    color: #B2BEC3;
    position: relative;
    font-weight: 600;
}
.menu-item:hover{
    color: #FC6514;
}
.menu-men{
    position: fixed;
    display: flex;
    width: 756px;
    height: 385px;
    left:240px;
    top:107px;
    margin-top: 9px;
    padding:16px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
}
.menu-men:before{
    content: "";
    position: fixed;
    left:240px;
    top:105px;
    width: 756px;
    height: 25px;
    display: block;
}
.menu-men-item{
    min-width: 30%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 16px;
}
.menu-men-item a{
    margin:8px;
    color:black;
    font-weight: normal;
    text-decoration: none;
}
.menu-men-item a:hover{
    color:#fc6514;
    text-decoration: underline;
}
.menu-item:hover .menu-men{
    display: flex;
}

/* Test github */
/*haha*/
/*hihi*/
